body{    
    background-color: black;
}

p{
    margin-top:5%;
    color: white;
    font-size: 24px;
}

button{
    
    margin: 10px;
    background-color: yellow;
    transition: transform 0.2s;
    font-family: 'Paytone One', sans-serif;
    padding: 15px 32px;
    display: inline-block;
    color: black;
    border: none;
    border-radius: 6px;
}

button:hover{
    transform: scale(1.5);
}